/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
       url('../fonts/open-sans-v29-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v29-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v29-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v29-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v29-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v29-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('../fonts/open-sans-v29-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v29-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('../fonts/open-sans-v29-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v29-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v29-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/roboto-condensed-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/roboto-condensed-v25-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-condensed-v25-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-condensed-v25-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}
h1,h2,h3,h4,h5,h6,.site-title{
	font-family: 'Roboto Condensed',sans-serif;
}

.logo{
	display:block;
	margin-top:20px;
}

.left{
	float:left;
}

.right{
	float:right;
}

#nearby-locations{
	margin-top:4em;
	.left,.right{
		max-width:45%;
	}
}

.audio-player{
	margin-bottom:1em;
}

#related{
	margin-top:1em;
	background:#eeeeee;
	padding:.5em;
}

.post-meta{
	color:rgb(87,87,87);
}

.footer-col-wrapper,.social-media-list{
	color:rgb(87,87,87);
}

#floor1,#floor2,#floor3{
	padding:.5em;
}

#floor1{
	border-top:1px solid;
	border-left:1px solid;
	border-right:1px solid;
	h2{
		margin-top:0;
	}
}

#floor2{
background-color:#617A71;
color:#ffffff;
border-top:1px solid #000000;
border-left:1px solid #000000;
border-right:1px solid #000000;
	h2{
		margin-top:0;
	}
}

#floor3{
background-color:#5F4D76;
color:#ffffff;
border-bottom:1px solid #000000;
border-left:1px solid #000000;
border-right:1px solid #000000;
	h2{
		margin-top:0;
	}
}

.post-feta{
	@extend .post-meta;
	margin-left: .25em;
	background: #eee;
	color: #4F4F4F;
	padding-left: .15em;
	padding-right: .15em;
	padding-top: .05em;
	padding-bottom: .05em;
	border-radius: 3px;
	font-family:'Open Sans',Sans-serif;
	outline: 1px solid;
	margin-bottom:3px;
}

.social-media-list li a{
    display: block;
    padding: 5px;
    border:none;
}
ul.jekyllcodex_accordion {position: relative; margin: 1.4rem 0;border: solid 1px #ccc;padding: 0em 1em;border-radius: 3px;}
ul.jekyllcodex_accordion li {list-style: none; margin-left: 0;}
ul.jekyllcodex_accordion li input {display: none;}
ul.jekyllcodex_accordion li label {display: block; cursor: pointer; padding: 0.75rem 2.4rem 0.75rem 0; margin: 0;}
ul.jekyllcodex_accordion li div {display: none; padding-bottom: 1.2rem;}
ul.jekyllcodex_accordion li p {font-weight:300;}
ul.jekyllcodex_accordion li input:checked + label {font-weight: bold;}
ul.jekyllcodex_accordion li input:checked + label + div {display: block;}
ul.jekyllcodex_accordion li label::before {content: "+"; font-weight: normal; font-size: 130%; line-height: 1.1rem; padding: 0; position: absolute; right: 1rem; transition: all 0.15s ease-in-out;}
ul.jekyllcodex_accordion li input:checked + label::before {transform: rotate(-45deg);}

@media (max-width: 640px) {
	.audio-player-spacer{
		margin-bottom:7em;
	}
	.social-media-list{
		margin:0;
	}
	.site-title{
		padding-right:10px;
	}
}